@{
    ViewBag.Title = "AddCategory";
    Layout = "/Areas/Admin/Views/Shared/_AdminContorlPartView.cshtml";
}
<script type="text/javascript">
    $.ajax({
        url: "/Admin/Product/getCategoryjsonstr",
        datatype: "html",
        type: "get",
        success: function (data) {
            var mydata = JSON.parse(data);
            $("#allcategory").ligerTree({
                data: mydata,
                slide: false,
                checkbox: false,
                nodeWidth: 120,
                parentIDFieldName: "parentid",
                textFieldName: "name",
                idFieldName: "cateid",
                isExpand: true,
                onSelect: opendiagshowmsg
            });
        }
    });
    function opendiagshowmsg(node) {
        var nodetext = node.data.name;
        var nodeid = node.data.cateid;
        var pid = node.data.parentid;
        if (pid != 0) {
            $("#name").val(nodetext);
            $("#cateid").val(nodeid);
            $.ligerDialog.open({
                target: $("#showmsg"),
                width: 200,
                height: 300
            });
        }
    }

    $.ajax({
        url: "/Admin/Product/GetMainCategories",
        datatype: "html",
        type: "get",
        success: function (data) {
            $("#txt2").ligerComboBox({
                tree: {
                    data: data, parentIDFieldName: "parentid",
                    textFieldName: "name",
                    idFieldName: "cateid",
                    isExpand: true,
                    slide: false,
                    nodeWidth: 120
                }
            });
        }
    });
</script>
<h4 style="margin-left:20px; margin-top:10px">商品分类</h4> <span><a href="">添加类别</a></span>
<div id="panel1" style="width:200px;height:100%;margin:5px 20px;border:1px solid;overflow:hidden;float:left;">
    <ul id="allcategory"></ul>
</div>
<div id="showmsg" style="width:200px; margin:3px; display:none;height:300px;">
    <form action="/" method="post">
        类别名称：<input type="text" id="name" />
        ID：<input type="text" id="cateid" /><br />
        <input type="button" id="btnedit" value="修 改" />
    </form>
</div>
<div id="Addcategory" style="width:300px;height:300px;float:right;">
    <input type="text" id="txt2" />
</div>
