@{
    ViewBag.Title = "AddCategory";
    Layout = "/Areas/Admin/Views/Shared/_AdminContorlPartView.cshtml";
}
<script type="text/javascript">
    $.ajax({
        url: "/Admin/Product/getCategoryjsonstr",
        datatype: "html",
        type: "get",
        success: function (data) {
            var mydata = JSON.parse(data);
            $("#allcategory").ligerTree({
                data: mydata,
                slide: false,
                checkbox: false,
                nodeWidth: 120,
                parentIDFieldName: "parentid",
                textFieldName: "name",
                idFieldName: "cateid",
                isExpand: true,
                onSelect: opendiagshowmsg
            });
        }
    });
    function opendiagshowmsg(node) {
        var nodetext = node.data.name;
        var nodeid = node.data.cateid;
        var pid = node.data.parentid;
        if (pid != 0) {
            $("#name").val(nodetext);
            $("#cateid").val(nodeid);
            $("#name").attr("disabled", "disabled");
            $("#cateid").attr("disabled", "disabled");
            $("#btnedit").show();
        }
    }
    $().ready(function () {
        $("#btnedit").hide();
        $("#btnedit").click(function () {
            $("#name").removeAttr("disabled");
        });
    });
</script>
<h4 style="margin-left:20px; margin-top:10px">商品分类</h4>
<div id="panel1" style="width:200px;height:100%;margin:5px 20px;border:1px solid;overflow:hidden;float:left;">
    <ul id="allcategory"></ul>
</div>

<div style="width:200px;height:200px;margin:15px 10px;border:1px solid;overflow:hidden;float:left;">
    <form action="/" method="post">
        类别名称：<input type="text" id="name" />
        ID：<input type="text" id="cateid" /><br />
        <input type="button" id="btnedit" value="修 改" />
           
        <input type="button" id="btnadd" value="修 改" />
    </form>
</div>
