@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminContorlPartView.cshtml";
}
@section head{
    <script type="text/javascript" src="~/UEdit/ueditor.config.js"></script>
<script type="text/javascript" src="~/UEdit/ueditor.all.js"></script>
    <script type="text/javascript">
        $(function () {
            var ue = UE.getEditor('productdis');
            $("#navtabpro").ligerTab();
        });
    </script>
}

<div id="navtabpro" style="width:100%;overflow:hidden; margin-top:6px;">
    <div tabid="home" title="基本信息" lselected="true" style="height:100%;">
        <div>ssssssssssss</div>
    </div>
    <div title="分类信息">
        <div id="Div7" style="margin:10px; height:300px;">我的主页2</div>
    </div>
    <div title="辅助信息">
        <div id="Div8" style="margin:10px;height:300px;">
            <input type="button" id="showmsg" value="显示" />
        </div>
    </div>
    <div title="详情描述">
        <div id="editcontent" style="margin:10px;height:100%;width:100%;">
            <script id="productdis" type="text/plain">
            </script>
           
            @*<script type="text/javascript">
                
            </script>*@
        </div>
    </div>
</div>