@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminContorlPartView.cshtml";
}

@section head{

    <script type="text/javascript">
        $(function () { alert("ssss") })
    </script>
}

<p>asfhsaigahgiyergfoerfoqwefyqwoe8fyqweof87qywerfoq87e</p>