@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminContorlPartView.cshtml";
}
@section head{
    <link href="~/uploadify/uploadify.css" rel="stylesheet" />
    <script type="text/javascript" src="~/UEdit/ueditor.config.js"></script>
    <script type="text/javascript" src="~/UEdit/ueditor.all.js"></script>
    <script src="~/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        var tab;
        var brandcom;
        $(function () {
            var ue = UE.getEditor('productdis');
            tab = $("#navtabpro").ligerTab();
            $("#productweight").ligerSpinner({
                type: 'float',
                isNegative: false,
                decimalplace: 2,
                step: 0.5
            });
            $("#addbtn").ligerButton({
                icon: '/lib/ligerUI/skins/icons/true.gif',
                width: 50
            });
            var upcc = $("#procategory").ligerComboBox({
                width: 180,
                textField: 'name',
                treeLeafOnly: false,
                valueField: "cateid",
                valueFieldID: "parentid",
                tree: {
                    url: "/Admin/Product/getCategoryjsonstr2", ajaxType: "get",
                    textFieldName: "name",
                    idFieldName: "cateid",
                    parentIDFieldName: "parentid",
                    isExpand: true,
                    checkbox: false,
                    slide: false,
                    nodeWidth: 120,
                    single: true
                },
                onselected: function (newvalue, newtext) {
                    bindbrands(newvalue); bindattribute(newvalue)
                }
            });
            brandcom = $("#probrand").ligerComboBox({
                resize: true,
                isShowCheckBox: false,
                valueField: 'brandid',
                textField: 'name',
                width: 180
            });
        });
        //移动到下一个Tab
        function movenexttab() {
            var tabcount = tab.getTabItemCount();
            var selecttab = tab.getSelectedTabItemID();
            if (parseInt(selecttab) < parseInt(tabcount)) {
                var co = parseInt(selecttab) + 1;
                tab.selectTabItem(co);
            }
        }
        //绑定品牌
        function bindbrands(cateid) {
            $.ajax({
                url: '/Admin/Product/getBrandsbycate',
                datatype: 'Json',
                data: { 'cateid': cateid },
                type: 'get',
                contentType: 'application/json;charset=utf-8',
                processdata: false,
                success: function (data) {
                    $("#probrand").ligerComboBox({
                        resize: true,
                        isShowCheckBox: false,
                        valueField: 'brandid',
                        textField: 'name',
                        width: 180,
                        data: data
                    });
                }
            });
        }
        function bindattribute(cateid) {
            var attributedata;
            $("#attributediv").empty();
            $.ajax({
                url: '/Admin/Product/Getattributebycate',
                datatype: 'json',
                data: { 'cateid': cateid },
                type: 'get',
                async: false,
                contentType: 'application/json;charset=utf-8',
                processdata: false,
                success: function (data) { attributedata = data; }
            });
            $.each(attributedata, function (i) {
                var attrid = "#" + attributedata[i].ShowIDname;
                $("#attributediv").append('<p>' + attributedata[i].name + ':<input type="text" name="' + attributedata[i].ShowIDname + '" id="' + attributedata[i].ShowIDname + '"/></p><br/> ');
                $.ajax({
                    url: '/Admin/Product/GetAttributeValue',
                    datatype: 'json',
                    data: { 'attid': attributedata[i].attrid },
                    type: 'get',
                    contentType: 'application/json;charset=utf-8',
                    processdata: false,
                    success: function (data) {
                        $(attrid).ligerComboBox({
                            data: data,
                            textField: 'attrvaluename',
                            valueField: 'attrid',
                            resize: true,
                            isShowCheckBox: false,
                            width: 180
                        });
                    }
                });
            });
        }
    </script>
}
@{
    using (Html.BeginForm())
    {
        <div id="navtabpro" style="width:100%;overflow:hidden; margin-top:6px;height:100%;">
            <div tabid="1" title="基本信息" lselected="true" style="height:100%;width:100%">
                <p>商品名称：<input type="text" id="name" name="name" /></p><br />
                <p>商品编号：<input type="text" id="internalcode" name="internalcode" /></p><br />
                <p>商品分类：<input type="text" id="procategory" name="procategory" /></p><br />
                <p>商品品牌：<input type="text" id="probrand" name="probrand" /></p><br />
                <p>成本价：<input type="text" id="procostprice" name="procostprice" /></p><br />
                <p>市场价：<input type="text" id="promarkprice" name="promarkprice" /></p><br />
                <p>商城价：<input type="text" id="proshopprice" name="proshopprice" /></p><br />
                <input type="button" id="next1" value="继 续" onclick="movenexttab();" />
            </div>
            <div tabid="2" title="分类信息" style="height:100%;width:100%">
                <div id="attributediv"></div>
                <input type="button" id="next2" value="继 续" onclick="movenexttab();" />
            </div>
            <div tabid="3" title="辅助信息" style="height:100%;width:100%">
                <p>商品重量：<input type="text" id="productweight" name="productweight" /></p><br />
                <p>
                    上传缩略图：<input type="file" name="uploadify" id="uploadify" /><a href="javascript:$('#uploadify').uploadify('upload')">上传</a>|<a href="javascript:$('#uploadify').uploadify('cancel')">取消上传</a>
                    <div id="fileQueue">
                    </div>
                </p>
                <input type="button" id="next3" value="继 续" onclick="movenexttab();" />
            </div>
            <div tabid="4" title="详情描述">
                <div id="editcontent" style="margin:10px;height:100%;">
                    <script id="productdis" type="text/plain">
                    </script>
                    <div id="addbtn"></div>
                </div>
            </div>
        </div>
    }
}