@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminContorlPartView.cshtml";
}

@section head{
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>XXXX商城后台管理-添加商品</title>
    <link href="~/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/lib/ligerUI/js/ligerui.all.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerTab.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/lib/jquery.cookie.js"></script>
    <script src="~/lib/json2.js"></script>
    <script type="text/javascript">
        $(function () { alert("ssss") })
    </script>
}

<p>asfhsaigahgiyergfoerfoqwefyqwoe8fyqweof87qywerfoq87e</p>