@{
    ViewBag.Title = "ProductAttribute";
    Layout = "~/Areas/Admin/Views/Shared/_AdminContorlPartView.cshtml";
}
<script type="text/javascript">
    var infogrid;
    var detailgrid;
    var laddr;
    $(function () {
        var infodata;
        $.ajax({
            url: '/Admin/Product/GetallAttribute',
            datatype: 'JSON',
            type: 'get',
            async: false,
            success: function (data) {
                infodata = data;
            }
        });
        infogrid = $("#infogrid").ligerGrid({
            columns: [
                  { display: '属性名', name: 'name', align: 'center', width: 60 },
                  { display: '属性编码', name: 'attributecode', align: 'center', width: 100, minwidth: 60 },
                  { display: 'attrid', name: 'attrid', align: 'center', hide: true },
                  { display: 'IsEnable', name: 'IsEnable', align: 'center', hide: true },
                  { display: 'isfilter', name: 'isfilter', align: 'center', hide: true },
                  { display: 'IsSpec', name: 'IsSpec', align: 'center', hide: true },
                  { display: 'showtype', name: 'showtype', align: 'center', hide: true },
                  { display: '是否启用', name: 'Enablename', align: 'center', width: 100, minwidth: 60 },
                  { display: '是否规格', name: 'Isspecname', align: 'center', width: 100, minwidth: 60 },
                  { display: '显示类型', name: 'Showtypename', align: 'center', width: 100, minwidth: 60 },
                  { display: '是否筛选属性', name: 'Isfiltername', align: 'center', width: 100, minwidth: 60 }
            ], pageSize: 10,
            data: infodata,
            height: '100%',
            rownumbers: true,
            title: '商品属性/规格',
            toolbar: {
                items: [
                    { text: '添加', click: function (item) { $.ligerDialog.open({ target: $("#addattribute"), width: 500, height: 500 }); }, img: '/lib/ligerUI/skins/icons/add.gif' },
                    { line: true },
                    { text: '修改', click: function (item) { alert(item.text); }, img: '/lib/ligerUI/skins/icons/config.gif' },
                    { line: true },
                    { text: '删除', click: function (item) { alert(item.text); }, img: '/lib/ligerUI/skins/icons/delete.gif' }
                ]
            },
            onSelectRow: function (rowdata, rowid, rowobj) {
                loaddetail(rowdata.attrid);
                $("#attriteid").val(rowdata.attrid);
                $("#valueattritetext").val(rowdata.name);
            }
        });
        $("#infoloading").hide();
        detailgrid = $("#detailgrid").ligerGrid({
            columns: [
                { display: '属性值', name: 'attrvaluename', align: 'center', width: 100, minwidth: 60 },
                { display: '属性值编号', name: 'attrvalueCode', align: 'center', width: 100, minwidth: 60 },
                { display: '是否启用', name: 'Enablename', align: 'center', width: 100, minwidth: 60 },
                { display: '显示类型', name: 'Showtypename', align: 'center', width: 100, minwidth: 60 },
                { display: 'attrid', name: 'attrid', align: 'center', hide: true },
                { display: 'attrnameCode', name: 'attrnameCode', align: 'center', hide: true },
                { display: 'attrshowtype', name: 'attrshowtype', align: 'center', hide: true },
                { display: 'attrvalueid', name: 'attrvalueid', align: 'center', hide: true },
                { display: 'IsEnable', name: 'IsEnable', align: 'center', hide: true },
                { display: 'isinput', name: 'isinput', align: 'center', hide: true }
            ], pageSize: 30,
            height: '100%',
            rownumbers: true,
            title: '商品属性/规格 值',
            toolbar: {
                items: [
                    { text: '添加', click: function (item) { if ($("#attriteid").val() == '') { $.ligerDialog.warn("请先选择左侧对应的属性！！"); return; } $.ligerDialog.open({ target: $("#addattributevalue"), width: 500, height: 500 }); }, img: '/lib/ligerUI/skins/icons/add.gif' },
                    { line: true },
                    { text: '修改', click: function (item) { alert(item.text); }, img: '/lib/ligerUI/skins/icons/config.gif' },
                    { line: true },
                    { text: '删除', click: function (item) { alert(item.text); }, img: '/lib/ligerUI/skins/icons/delete.gif' }
                ]
            },
        });
        laddr = $("#addiv input:radio").ligerRadio();
        $("#addattributebtn").bind("click", addattribute);
        $("#updatevaluebtn").click(addattributevalue);
    });
    function loaddetail(attrid) {
        $("#infoloading").show();
        $.ajax({
            url: '/Admin/Product/GetallAttributevalues',
            async: false,
            type: 'get',
            datatype: 'JSON',
            data: { "id": attrid },
            success: function (mydata) {
                var t = mydata;
                detailgrid.set({ data: mydata });
            }
        });
        $("#infoloading").hide();
    }
    function addattribute() {
        if ($("#addattributename").val() == '') {
            $.ligerDialog.warn("请填写属性名称");
            return;
        }
        if ($("#addattributecode").val() == '') {
            $.ligerDialog.warn("请填写属性编号");
            return;
        }
        var showtype;
        $("#addiv input:radio").each(function () {
            if (this.checked) {
                showtype = this.value;
            }
        });
        var isspec = 0;
        if ($("#addattributeisspec").ligerCheckBox().getValue())
        { isspec = 1; }
        var isfilter = 0;
        if ($("#addattributefilter").ligerCheckBox().getValue())
        { isfilter = 1; }
        var isenable = 0;
        if ($("#addattributeenable").ligerCheckBox().getValue())
        { isenable = 1; }
        var model = {
            name: $("#addattributename").val(),
            attributecode: $("#addattributecode").val(),
            IsSpec: isspec,
            showtype: showtype,
            IsEnable: isenable,
            isfilter: isfilter
        };
        $.ajax({
            url: '/Admin/Product/InsertAttribute',
            type: 'POST',
            data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            datatype: 'JSON',
            processData: false,
            async: false,
            success: function (data) {
                if (data == "1") {
                    $.ligerDialog.success("添加完成", "提示", function () {
                        $.ligerDialog.hide();
                        $.ajax({
                            url: '/Admin/Product/GetallAttribute',
                            datatype: 'JSON',
                            type: 'get',
                            success: function (data) {
                                infogrid.loadData(data);
                            }
                        });
                    });
                }
                else {
                    $.ligerDialog.error("添加失败");
                }

            }
        });
    }
    function addattributevalue() {
        if ($("#valuename").val() == '') {
            $.ligerDialog.warn("请输入属性值名称");
            return;
        }
        if ($("#valuecode").val() == '') {
            $.ligerDialog.warn("请输入属性值代码");
            return;
        }
        var valueshowtype;
        $("#updatediv input:radio").each(function () {
            if (this.checked)
            { valueshowtype = this.value; }
        });
        var valueisable = 0;
        if ($("#updatevalueenable").ligerCheckBox().getValue())
        { valueisable = 1; }
        var valmodel = {
            attrid: $("#attriteid").val(),
            attrvaluename: $("#valuename").val(),
            attrvalueCode: $("#valuecode").val(),
            isinput: 0,
            attrshowtype: valueshowtype,
            IsEnable: valueisable
        };
        $.ajax({
            url: '/Admin/Product/InsertAttributevalue',
            data: JSON.stringify(valmodel),
            datatype: 'Json',
            type: 'POST',
            contentType: 'application/json;charset=utf-8 ',
            processdata: false,
            async: false,
            success: function (data) {
                if (data == '1') {
                    $.ligerDialog.success("添加数据成功", "提示", function () {
                        $.ligerDialog.hide();
                        $("#valuename").val('');
                        $("#valuecode").val('');
                        $("#updatediv input:radio").each(function ()
                        {
                            if (this.value == '0') { this.checked = true; }
                        });
                        $.ajax({
                            url: '/Admin/Product/GetallAttributevalues',
                            type: 'get',
                            datatype: 'JSON',
                            data: { "id": $("#attriteid").val() },
                            success: function (mydata) {
                                var t = mydata;
                                detailgrid.set({ data: mydata });
                            }
                        });
                    });
                }
                else { $.ligerDialog.error("添加失败"); }
            }
        });
    }
</script>
<div class="l-loading" style="display:block" id="infoloading"></div>
<!--左侧主表区-->
<div style="width:60%;height:100%;float:left;">
    <div class="l-clear"></div>
    <div id="infogrid"></div>
    <div style="display:none;">
    </div>
</div>
<div style="width:1%;height:100%;float:left">
    <p>&nbsp;</p>
</div>
<!--右侧明细区-->
<div style="width:39%;height:100%;float:left">
    <div class="l-clear"></div>
    <div id="detailgrid"></div>
    <div style="display:none;">
    </div>
</div>
<!--添加属性层-->
<div id="addattribute" style="width:300px;height:300px;display:none">
    <p>属性名称：<input type="text" id="addattributename" /></p>
    <p>属性编号：<input type="text" id="addattributecode" /></p>
    <p>
        <table>
            <tr>
                <td><input type="checkbox" id="addattributeenable" /></td>
                <td>启用</td>
                <td><input type="checkbox" id="addattributeisspec" /></td>
                <td>规格</td>
                <td><input type="checkbox" id="addattributefilter" /></td>
                <td>筛选属性</td>
            </tr>
        </table>
    </p>
    <p>
        <div id="addiv">
            <table>
                <tr>
                    <td><input type="radio" id="showtype" name="showtype" value="0" checked="checked" /></td>
                    <td>文本</td>
                    <td><input type="radio" id="showtype2" name="showtype" value="1" /></td>
                    <td>图片</td>
                </tr>
            </table>
        </div>
    </p>
    <p><input type="button" value="添 加" id="addattributebtn" /></p>
</div>
<!--添加属性值层-->
<div id="addattributevalue" style="width:300px;height:300px;display:none">
    <p>属性名：<input type="text" id="valueattritetext" disabled="disabled" /></p>
    <p>属性值名称：<input type="text" id="valuename" /></p>
    <p>属性值代码：<input type="text" id="valuecode" /></p>
    <p>
        <div id="updatediv">
            <table>
                <tr>
                    <td><input type="radio" name="updatevalueshowtype" value="1" /></td>
                    <td>图片</td>
                    <td><input type="radio" name="updatevalueshowtype" value="0" checked="checked" /></td>
                    <td>文本</td>
                </tr>
            </table>
        </div>
    </p>
    <p><input type="checkbox" id="updatevalueenable" />启用</p>
    <p><input type="button" id="updatevaluebtn" value="添 加" /></p>
    <input type="hidden" id="attriteid" />
</div>
