<div style="width:310px;border:none;margin-top:15px;height:200px;background-color:pink;">
    广告区
</div>
<div style="width: 310px; border: none; margin-top: 15px; height: 190px; background-color:lightseagreen;">
    <a href="#" style="float:right">更多信息 >></a>
    <ul style="float: left; width: 130px; margin-left: 15px; border-right: 1px solid; margin-top: 30px;">
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
    </ul>
    <ul style="float: left; width: 135px; margin-top: 14px; padding-left: 20px;">
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
        <li style="line-height:30px">阿斯达斯的阿萨德</li>
    </ul>
</div>
