@charset "utf-8";

.box{width:620px;margin:20px auto;border:1px solid;}
.t1{width:350px;}
.t2{width:352px;}
.t2 img{text-indent:0;}
#showArea img{cursor:pointer;display:block;margin-bottom:5px;width:68px;padding:1px;border:1px solid #ccc;height:68px;float:left}
#main_img{cursor:pointer;display:block}
#gotop{cursor:pointer;display:block;margin-left:9px}
#gobottom{cursor:pointer;display:block;margin-left:9px}
#showArea{height:379px;margin:10px;overflow:hidden}
/* CSS class for zoomed area */
.MagicZoomBigImageCont{overflow:hidden}
.MagicZoomBigImageCont img{width:800px;height:800px}
.MagicZoomBigImageCont iframe{width:600px;height:600px}
.MagicZoomHeader{font:10px Tahoma, Verdana, Arial, sans-serif;color:#fff;background:#91b817;text-align:center !important}
.MagicZoomPup{background:#fff;cursor:hand;left:0}
.MagicZoomLoading{text-align:center;background:#fff;color:#444;opacity:0.8;padding:3px 3px 3px 3px !important;display:none}
.MagicZoomLoading img{padding-top:3px !important}
.MagicThumb{cursor:url(cursor/zoomin.cur), pointer;outline:none}
.MagicThumb-zoomed{cursor:default}
.MagicThumb span{display:none}
.MagicThumb-image{outline:none}
.MagicThumb-image-zoomed{cursor:url(cursor/zoomout.cur), pointer}
.MagicThumb-caption{color:#333333;background-color:#F0F0F0;font-family:Verdana, Helvetica;font-size:11px;padding:8px 16px}
.MagicThumb-controlbar{display:block;height:18px}
.MagicThumb-controlbar a{display:block;width:180px;height:180px;margin:0px 1px;outline:none;float:left;overflow:hidden}
.MagicThumb-controlbar a span{display:block;width:1000px;height:1000px;background:transparent url(graphics/controlbar.png) no-repeat 0 0;outline:none;position:absolute;left:0px;top:0px}
.MagicThumb-loading{background:#fff url(graphics/loader.gif) no-repeat 2px 50%;padding:2px 2px 2px 22px;margin:0;text-decoration:none;text-align:left;font-size:8pt;font-family:sans-serif;}
/*详情页选项卡部分*/
/*public*/
.fl{display:inline;float:left}
.fr{display:inline;float:left}
.cf:after{content:"";clear:both;display:block;height:0;overflow:hidden}
/*main*/
.detailtab{width:960px;background:#fff;padding:15px;box-shadow:0 0 10px #ccc;}
.detailtab .title{height:20px;border-bottom: 3px solid #e7e7e7;padding-bottom:10px;}
.detailtab .title h2{ font-size: 20px;font-family: "microsoft yahei";}
.detailtab .title-list{ position: relative; top: 6px;}
.detailtab .title-list li{ width: 146px; line-height: 20px; text-align: center; float: left; display: inline;font-size:20px; font-weight: bold;}
.detailtab .title-list li.on{ color: #ff6600; font-weight: bold;background:#fefefe;font-size:20px;}
.detailtab .title-list p{position:absolute;top:24px;left:0px;width:146px;height:7px;border-top: 3px solid #ff6600; overflow: hidden; text-align: center;}
.detailtab .title-list b{display:inline-block;width:0;height:0;margin-top:-3px;border-style:solid dashed dashed dashed;border-width:9px;border-color: #ff6600 #fff #fff #fff;overflow: hidden;zoom: 1;font-size: 0;}
.product{ height: 268px; position: relative; overflow: hidden; display: none; margin-top: 20px;}
.product-wrap .show{ display: block;}