@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>_ProductitemPartial</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/lib/ligerUI/js/ligerui.all.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerTab.js"></script>
    <script src="~/lib/ligerUI/js/core/base.js"></script>
    <script src="~/lib/jquery.cookie.js"></script>
    <script src="~/lib/json2.js"></script>
    <link href="~/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
</head>
<body>
    @RenderSection("featured", required: false)
    @RenderBody()
</body>
</html>
