@{
    ViewBag.Title = "itemdetail";
    Layout = "~/Views/Shared/_ProductitemPartial.cshtml";
}
<div style="width:1210px;height:474px;border:1px solid;margin:0px 0px;">
        <div style="width:352px;height:446px;background-color:lightblue;float:left;margin-top:15px;margin-left:15px;">
            <div id="ShowPictureBox" style="width: 342px; height: 300px; border: 1px solid; margin-left: 5px; float: left;">
                <img src="/skuimgs/1029154041.jpg" style="width:342px; height:300px">
            </div>
            <div style="width:342px;height:100px;border:1px solid;margin-left:5px;float:left;margin:20px 0px;">
            </div>
        </div>
        <div style="width:810px;height:410px;float:left;margin-left:15px;margin-top:10px;">
            <div style="width: 810px; height: 22px; border: 1px solid;">名称区</div>
            <div style="width: 810px; height: 375px; background-color:lightpink;margin-top:10px">SKU区</div>
        </div>
    </div>
    <div style="width:1210px;height:2000px;border:1px solid;margin-top:15px;">
        <div style="width:210px;height:1000px;float:left;background-color:lightyellow">
            左侧推广区
        </div>
        <div style="width:990px;height:2000px;float:left;background-color:lightskyblue;margin-left:10px;">
            商品参数，详情区
        </div>
    </div>
    <div style="width:1210px;height:276px;border:1px solid;margin-top:15px;background-color:lightgreen">
        推荐区
    </div>
        